<section class="example-container">
  <header>
    <h2>Step {{ selectedIndex + 1 }}/{{ steps.length }}</h2>
  </header>
  <section class="example-step-navigation-bar">
    <button class="example-nav-button" cdkStepperPrevious>&larr;</button>
    <button
    class="example-step"
    [class.example-active]="selectedIndex === i"
    *ngFor="let step of steps; let i = index"
    (click)="onClick(i)"
    >
    Step {{ i + 1 }}
  </button>
  <button class="example-nav-button" cdkStepperNext>&rarr;</button>
</section>
<br>
<div [ngTemplateOutlet]="selected ? selected.content : null"></div>
</section>